/* Importar la fuente Noto Sans desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

:root {
    /* Colores */
    --naranja: rgba(233, 141, 20, 0.966);
    --morado: #764fee;
    --fondo: #404040;
    --blanco: #f4f4f4e9;
    --verde: #83e277e0;
    --azul: #7fdff7;
    --rojo: rgba(137, 26, 35, 0.865);

    /** Fonts **/
    --poppins: 'Poppins', sans-serif;
    --font-small: 0.877rem;
    --font-medium: 1rem;
    --font-big: 1.6rem;
    --icon: 4rem;
}
/* Estilos para la barra de navegación */
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: orange;
  cursor: pointer;
}

/* Ocultar todas las secciones excepto la sección con ID correspondiente al enlace clickeado */
main section {
  display: none;
}

main section:target {
  display: block;
}

/* Animación para las secciones */
main section {
  animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

